body{
	background-color: rgb(226,243,242);
	font-style: cursive;
	font-size: 24px;
	font-weight: 700;
}

#newtask{
	width: 450px;
	height: 60px;
	border: black solid 3px;
	padding: 4px;
	margin: 4px;
	font-size: 24px;
	background-color: rgb(226,222,193);
}

.buttons{
	width: 250px;
	height: 50px;
	padding: 5px;
	margin: 3px;
	font-style: cursive;
	font-size: 18px;
	font-weight: 700;
}

#sortlist{
	background-color: rgb(119,145,227);
	color: black;
	border: rgb(18,44,130) solid 4px;
}

#cleardone{
	background-color: rgb(236,117,117);
	color: black;
	border: rgb(164,22,22) solid 4px;
}

#addtask{
	background-color: rgb(107,223,154);
	color: black;
	border: rgb(24,110,30) solid 4px;
}
